In [2]:
import pandas as pd
import numpy as np
import requests
import bs4

In [15]:
# Get the data from the web page
url= "https://en.wikipedia.org/wiki/List_of_countries_by_life_expectancy"
web_page = bs4.BeautifulSoup(requests.get(url).text, "lxml")
table= web_page.find_all(name="table", attrs={"class":"wikitable"})
table_rows= table[-2].find_all("tr")
len(table_rows)

230

In [16]:
col_names = [raw_name.text.replace("\n", "" ) for raw_name in table_rows[0].find_all(name ='th')]
col_names

['Country', 'All', 'M', 'F', 'Gender Gap']

In [17]:
content = [raw_name.text.replace("\n", "" ).strip() for raw_name in table_rows[2].find_all(name ='td')] 
content

['Singapore', '86.35', '83.65', '89.20', '5.55']

In [22]:
contents = []
for row_id in range(2, len(table_rows)):
    content = [raw_name.text.replace("\n", "" ).strip() for raw_name in table_rows[row_id].find_all(name ='td')]
    contents.append(content)
contents[-3]

['Afghanistan', '53.65', '52.10', '54.28', '2.18']

In [19]:
contents=[]
for row_id in range(2, len(table_rows)):
    contents.append({col_names[idx]: raw_name.text.replace("\n", "" ).strip() for idx, raw_name in enumerate(table_rows[row_id].find_all(name ='td'))})
contents[-1]

{}

In [23]:
df = pd.DataFrame(data=contents, columns=col_names)
#drop columns after gendergap

df.head()

      Country    All      M      F Gender Gap
0   Singapore  86.35  83.65  89.20       5.55
1       Macau  84.98  82.09  88.02       5.93
2       Japan  84.83  81.92  87.90       5.98
3  San Marino  83.86  81.30  86.65       5.35
4      Canada  83.80  81.52  86.21       4.69

In [24]:
df.to_csv("CIA World Factbook (2022).csv", index=False)