In [1]:
import pandas as pd
import numpy as np
import requests
import bs4

In [8]:
# 
url= "https://www.worldometers.info/world-population/population-by-country/"
web_page = bs4.BeautifulSoup(requests.get(url).text, "lxml")
table=web_page.find_all(name="table", attrs={"id":"example2"})
table_rows = table[-1].find_all("tr")
len(table_rows)

236

In [9]:
col_name=[ raw_name.text.replace("\n","") for raw_name in table_rows[0].find_all(name="th")]
col_name

['#',
 'Country (or dependency)',
 'Population (2020)',
 'Yearly Change',
 'Net Change',
 'Density (P/Km²)',
 'Land Area (Km²)',
 'Migrants (net)',
 'Fert. Rate',
 'Med. Age',
 'Urban Pop %',
 'World Share']

In [10]:
content=[raw_name.text.replace("\n","").strip() for raw_name in table_rows[1].find_all(name="td")]
content

['1',
 'China',
 '1,439,323,776',
 '0.39 %',
 '5,540,090',
 '153',
 '9,388,211',
 '-348,399',
 '1.7',
 '38',
 '61 %',
 '18.47 %']

In [11]:
contents =[]
for row_id in range(1,len(table_rows)):
    contents.append({col_name[idx]: raw_name.text.replace("\n", "").strip() for idx, raw_name in enumerate(table_rows[row_id].find_all(name="td"))})
contents[-1]

{'#': '235',
 'Country (or dependency)': 'Holy See',
 'Population (2020)': '801',
 'Yearly Change': '0.25 %',
 'Net Change': '2',
 'Density (P/Km²)': '2,003',
 'Land Area (Km²)': '0',
 'Migrants (net)': '',
 'Fert. Rate': 'N.A.',
 'Med. Age': 'N.A.',
 'Urban Pop %': 'N.A.',
 'World Share': '0.00 %'}

In [27]:
df=pd.DataFrame(data=contents, columns=col_name)
df.head()

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211","-348,399",1.7,38,61 %,18.47 %
1,2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190","-532,687",2.2,28,35 %,17.70 %
2,3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420","954,806",1.8,38,83 %,4.25 %
3,4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570","-98,955",2.3,30,56 %,3.51 %
4,5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880","-233,379",3.6,23,35 %,2.83 %

In [30]:
#drop columns Migrants(net)
df.drop(columns=["Migrants (net)"], inplace=True)
df.drop(columns=["#"], inplace=True)
#start from 1
df.index = np.arange(1, len(df)+1)
df.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Fert. Rate,Med. Age,Urban Pop %,World Share
1,China,"1,439,323,776",0.39 %,"5,540,090",153,"9,388,211",1.7,38,61 %,18.47 %
2,India,"1,380,004,385",0.99 %,"13,586,631",464,"2,973,190",2.2,28,35 %,17.70 %
3,United States,"331,002,651",0.59 %,"1,937,734",36,"9,147,420",1.8,38,83 %,4.25 %
4,Indonesia,"273,523,615",1.07 %,"2,898,047",151,"1,811,570",2.3,30,56 %,3.51 %
5,Pakistan,"220,892,340",2.00 %,"4,327,022",287,"770,880",3.6,23,35 %,2.83 %

In [31]:
df.to_csv("world population.csv", index=False)